@import "../../styles/main.scss";

.portfolio {
  width: 100%;
  min-height: 100vh;
  background-color: $clr-grey;
  padding: 140px 0;

  &__container {
    display: grid;
    padding-inline: 1rem;
    gap: 1rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop-sm {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
