//Fonts
$ff-main: "Poppins", sans-serif;

//Colors
$clr-white: rgb(255, 255, 255);
$clr-accent-light: rgb(227, 28, 37);
$clr-accent-dark: rgb(187, 0, 14);
$clr-black-flat: rgb(28, 28, 28);
$clr-black-middle: rgb(22, 22, 22);
$clr-black-deep: rgb(17, 17, 17);
$clr-grey: rgb(55, 55, 55);
$clr-grey-light: rgb(88, 88, 88);
