@import "./reset";
@import "./fonts";
@import "./variables";
@import "./mixins";

body {
  width: 100%;
  font-family: $ff-main;
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding-inline: 1rem;

  @include tablet {
    padding-inline: 2rem;
  }
}
