@import "../../styles/main.scss";

.card {
  width: 100%;
  background-color: $clr-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem 3rem 2rem;
  color: $clr-grey-light;
  // border-radius: 10px;

  &:hover {
    transition: 0.3s;
    background-color: rgb(55, 55, 55);
  }

  &__icon {
    height: 80px;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 400;
    text-align: center;
    line-height: 1.2;
    padding: 2rem 0;
    height: 100px;

    @include flex-center;
  }

  &__desc {
    font-size: 0.875rem;
    font-weight: 300;
    text-align: center;
    width: 90%;
  }
}
