@import "../../styles/main.scss";

.navbar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 9999;

  @include tablet {
    height: 120px;
  }

  @include desktop-big {
    height: 160px;
  }

  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    @include tablet {
      gap: 2rem;
    }
  }

  &__logo {
    img {
      height: 50px;

      @include tablet {
        height: 80px;
      }
    }
  }

  &__menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__links {
    list-style: none;
    gap: 3.5rem;
    display: none;

    @include tablet {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-grow: 1;
      padding-top: 1rem;
    }
  }

  &__link {
    text-decoration: none;
    color: $clr-white;
    font-weight: 300;
    letter-spacing: 0.5px;

    &:hover {
      color: red;
    }
  }

  &__hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-top: 1rem;
    @include tablet {
      display: none;
    }
  }

  &__line {
    width: 100%;
    height: 1px;
    background: red;
    margin-bottom: 1.8rem;

    @include tablet {
      margin-bottom: 1.5rem;
    }

    @include desktop-big {
      margin-bottom: 2.8rem;
    }
  }
}
