@import "../../styles/main.scss";

.cards {
  min-height: 100vh;
  background-color: $clr-black-middle;
  padding: 100px 0;
  color: $clr-white;

  &__container {
    display: grid;
    gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop-sm {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .card {
    width: 100%;
    background-color: $clr-grey;
    height: 300px;
  }
}
