@import "../../styles/main.scss";

.cards {
  min-height: 100vh;
  background-color: $clr-black-flat;
  padding: 140px 0;
  color: $clr-white;

  &__container {
    display: grid;
    gap: 2rem;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }
    @include desktop-sm {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
