@import "../../styles/main.scss";

.footer {
  background-color: $clr-black-deep;
  padding: 4rem 0;

  &__underline {
    height: 1px;
    background: $clr-accent-light;
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__copyright {
    color: $clr-grey-light;
    font-size: 0.75rem;

    @include flex-center;
  }
}
