@import "../../styles/main.scss";

.slider {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
}

.slide {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  min-height: 100vh;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
  }

  &__content {
    height: calc(100vh - 70px);
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;

    @include tablet {
      height: calc(100vh - 95px);
      top: 95px;
    }

    @include desktop-big {
      height: calc(100vh - 115px);
      top: 115px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 13rem;
      height: 20rem;
      top: 50%;
      transform: translate(0, -50%);
      background-color: $clr-accent-light;
      mix-blend-mode: multiply;

      @include tablet {
        width: 24rem;
        height: 26rem;
      }

      @include desktop-big {
        width: 27rem;
        height: 30rem;
      }
    }
  }

  &__title {
    position: relative;
    width: 100%;
    font-size: 2.875em;
    font-weight: 500;
    color: $clr-white;
    text-align: right;
    padding: 2rem 1rem 0 0;
    line-height: 1.2;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);

    @include tablet {
      max-width: 80%;
      font-size: 4.5rem;
      padding: 2rem 2rem 0 0;
    }
    @include desktop-big {
      min-width: 80%;
      font-size: 6rem;
      padding: 2rem 4rem 0 0;
    }
  }

  &__btn {
    font-size: 0.875rem;
    font-weight: 300;
    text-decoration: none;
    padding: 12px 25px;
    color: $clr-white;
    border: 1.5px solid $clr-white;
    border-radius: 35px;
    position: relative;
    margin: 2rem 1rem 2rem 0;

    @include flex-center;
    gap: 10px;

    span {
      @include flex-center;
    }

    @include tablet {
      margin: 2rem 2rem 0 0;
      padding: 16px 35px;
    }

    @include desktop-big {
      margin: 2rem 4rem 0 0;
    }
  }
}

.btn-down {
  display: none;

  @include desktop-sm {
    display: block;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    z-index: 1;
    color: $clr-white;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  gap: 1rem;

  @include desktop-big {
    bottom: 50px;
  }

  li {
    button {
      &::before {
        background: $clr-white !important;
      }
    }
  }
}
